agrinode node red
[{"id":"c0ea6e23.3f159","type":"mongodb","hostname":"ds055190.mongolab.com","port":"55190","db":"IbmCloud_hu0d1pt5_9pblv8b9","name":"agrinode01_data"},{"id":"2f9914bc.d066ec","type":"mqtt-broker","broker":"iot.eclipse.org","port":"1883","clientid":"chtien18"},{"id":"6dc59cdb.923a64","type":"mqtt in","name":"agrinode01","topic":"agrinode01","broker":"2f9914bc.d066ec","x":83,"y":98,"z":"78fdf3ba.87020c","wires":[["25f0355.fda0fca"]]},{"id":"148c50cc.eb73af","type":"debug","name":"debug","active":true,"console":"false","complete":"payload","x":655,"y":99,"z":"78fdf3ba.87020c","wires":[]},{"id":"25f0355.fda0fca","type":"json","name":"","x":259,"y":98,"z":"78fdf3ba.87020c","wires":[["424f6b07.bdb094"]]},{"id":"424f6b07.bdb094","type":"function","name":"add timestame","func":"var d=new Date();\nvar n=d.getTime();\nmsg.payload.d.time=n;\nreturn msg;","outputs":1,"noerr":0,"x":437,"y":100,"z":"78fdf3ba.87020c","wires":[["148c50cc.eb73af","7d1d9393.82e26c"]]},{"id":"7d1d9393.82e26c","type":"mongodb out","service":"_ext_","mongodb":"c0ea6e23.3f159","name":"agrinode01_data","collection":"agrinode01_data","payonly":true,"upsert":true,"multi":false,"operation":"store","x":671,"y":192,"z":"78fdf3ba.87020c","wires":[]},{"id":"8170c011.7e8f4","type":"http in","name":"data web service GET","url":"/data","method":"get","swaggerDoc":"","x":96,"y":308,"z":"78fdf3ba.87020c","wires":[["6ec945f.f9136bc"]]},{"id":"3f98e6ef.c0671a","type":"http response","name":"data output","x":709,"y":310,"z":"78fdf3ba.87020c","wires":[]},{"id":"6ec945f.f9136bc","type":"function","name":"update payload","func":"if ((typeof msg.payload.start == \"string\") && (typeof msg.payload.end == \"string\")) {\n\tvar stt = parseInt(msg.payload.start);\n\tvar edd = parseInt(msg.payload.end);\n\tmsg.payload =   {\n    \t\"payload.d.time\": {$gt: stt, $lt: edd}\n    };\n} else {\n\tmsg.payload = {};\n}\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":310,"z":"78fdf3ba.87020c","wires":[["92e7cd3c.6d183"]]},{"id":"92e7cd3c.6d183","type":"mongodb in","service":"_ext_","mongodb":"c0ea6e23.3f159","name":"mongodb query","collection":"agrinode01_data","operation":"find","x":531,"y":316,"z":"78fdf3ba.87020c","wires":[["3f98e6ef.c0671a"]]}]
